// variable for breakpoints
@smallerWidth:  680px;    // Phones
@smallWidth:    780px;    // Big phones, small tablets
@medWidth:      980px;    // Portrait tablets
@bigWidth:      1120px;   // Landscape tablets, smaller screens
@biggerWidth:   @bigWidth + 1px;   // Big screens (default, used as min-width)

@medScreenMargin: 20px;
@smlScreenMargin: 10px;

.responsiveBG(@imgName, @extension: 'jpg') {
  @imgBase: "/assets/images/@{imgName}-";
  // default to the largest image
  background-image: url("@{imgBase}5.@{extension}");

  @media only screen and (max-width: @bigWidth)     { background-image: url("@{imgBase}4.@{extension}"); }
  @media only screen and (max-width: @medWidth)     { background-image: url("@{imgBase}3.@{extension}"); }
  @media only screen and (max-width: @smallWidth)   { background-image: url("@{imgBase}2.@{extension}"); }
  @media only screen and (max-width: @bigWidth) and (-webkit-min-device-pixel-ratio: 2)   	{ background-image: url("@{imgBase}4.@{extension}"); }
  @media only screen and (max-width: @smallWidth) and (-webkit-min-device-pixel-ratio: 2)   { background-image: url("@{imgBase}4.@{extension}"); }
  @media only screen and (max-width: @smallerWidth) and (-webkit-min-device-pixel-ratio: 2) { background-image: url("@{imgBase}2.@{extension}"); }
}

.responsiveBGInArticle(@imgName, @extension: 'jpg') {
  @imgBase: "/assets/images/@{imgName}-";
  // default to the largest image
  background-image: url("@{imgBase}4.@{extension}");
  @media only screen and (max-width: @medWidth)     { background-image: url("@{imgBase}3.@{extension}"); }
  @media only screen and (max-width: @smallWidth)   { background-image: url("@{imgBase}2.@{extension}"); }
  @media only screen and (max-width: @smallerWidth) { background-image: url("@{imgBase}1.@{extension}"); }
}

.responsiveBGPortrait(@imgName, @extension: 'jpg') {
  @imgBase: "/assets/images/@{imgName}-";
  // default to the largest image
  background-image: url("@{imgBase}3.@{extension}");
  @media only screen and (max-width: @smallWidth)   { background-image: url("@{imgBase}2.@{extension}"); }
  @media only screen and (max-width: @smallerWidth) { background-image: url("@{imgBase}1.@{extension}"); }
}

// iPad Landscape & smaller screens
@media only screen and (max-width: @bigWidth) {
	.article-section > p {
		font-size: 18px; 
	}
	.article-section > blockquote p,
	.article-section p.drop-cap,
	.quote-with-portrait .quote-text,
	.slide .text-container .text {
	 	font-size: 1.6em;
	}

	.slide .text-container .text {
		max-width: @textWidth * 0.6;
	}
}

// Portrait tablets
@media only screen and (max-width: @medWidth) {
	.navbar.special-feature .brand.brand-center { float: left; margin-left: 20px; }

	.article-section > blockquote p,
	.article-section p.drop-cap,
	.quote-with-portrait .quote-text,
	.slide .text-container .text {
	 	font-size: 1.4em;
	 	line-height: 1.1;
	}

  .article-section .related { max-width: @textWidth * 0.66; }
}

// Big phones, small tablets
@media only screen and (max-width: @smallWidth) {
	
	.article-header .slide:first-child {
		.headline { font-size: 2.5em; } 
		.byline:before, .byline:after { width: 70px; }
	}

	.quote-with-portrait-wrapper {
		max-width: @textWidth;
		box-sizing: border-box;
		padding: 0 20px;
		margin: 1em auto;
		.quote-rules, .portrait {
			position: relative;
			width: 100%;
		}
		.caption { width: 100% !important; }		

		&.portrait-left, &.portrait-right, & {
			.portrait {
				float: none;				
			}
			.quote-rules {
				.clearfix;
				height: auto;
				left: auto;
				right: auto;
				margin-top: 1em;
				&:before, &:after { position: relative; top: auto; bottom: auto; height: 4px;}
			}
			.quote-wrapper {
				padding: 1em 0;
			}
		}
	}
}

// Phones
@media only screen and (max-width: @smallerWidth) {

	body.loading .pre-load-background { background-size: 180px auto; }

	body.no-autoplay {
	  .scroll-prompt {
	    position: absolute;
	    bottom: 7.5em;
	    font-size: 0.5em;
	    .scroll-icon {
	    	display: inline;
	    	font-size: 15px;
	    	opacity: 1;
	    }
	  }
	}

	.navbar.special-feature {
		.brand.brand-center {
			width: 207px;
			overflow: hidden;
			margin-left: auto;
			margin-right: auto;
			float: none;
			img { width: 400px; max-width: none; }
		}
	}

	.article-section > blockquote p,
	.article-section p.drop-cap,
	.quote-with-portrait .quote-text,
	.slide .text-container .text {
	 	font-size: 1.1em !important;
	}

	.article-header {
		margin-bottom: 2em;
		.slide:first-child {
			.headline {
				font-size: 1.8em;
				margin-top: 0.5em;
				.word { 
					display: block; 
					padding: 0;
					&:nth-child(2) .char { padding: 0 0.2em; } 
				}
			}
			.byline {
				margin: 0.5em auto;
				display: block;
				font-size: 0.5em; 
				.sep {
					visibility: hidden; 
					width: 0;
					&:after { display: inline; content:"\a"; white-space: pre; }
				}
				&:before, &:after { display: block; visibility: hidden; }
			} 
		}
	}

	.slide {
		.text-container .text {
			max-width: 90% !important;
			left: 0 !important;
			right: 0 !important;
			&:before, &:after { height: 4px; }
			p { padding: 12px 0 0px 0; }
		}
	}

	.article-section > p { font-size: 16px; line-height: 1.4; }
	.article-section > p:last-child { margin-bottom: 40px; }

	.article-section > blockquote p,
	.article-section p.drop-cap,
	.quote-with-portrait .quote-text,
	.slide .text-container .text {
	 	font-size: 1em !important;
	 	line-height: 1.1;
	}

	.article-section .caption { font-size: 0.6em !important; line-height: 1.2; }

	.article-section .related {
		float: none !important;
		padding: 0 20px 20px 20px !important;
		width: 100% !important;
		box-sizing: border-box !important; 
		&.full-width {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		&.two-up {
			.child {
				width: 100%;
				float: none !important;
				&:first-child { margin-bottom: 20px; }
			}
		}
	}

	.article-footer .credits {
		margin: 0;
		padding: 20px;
		width: 100%;
		li {
			font-size: 0.8em;
			line-height: 1.4;
			&:first-child { display: none; }
		}
	}
}

// little tweak for landscape phones
@media only screen and (max-height: 330px) {
	.article-header .slide:first-child .headline .word { 
		display: inline-block; 
		&:nth-child(2) {
			padding: 0 0.2em;
			.char { padding: 0 0.1em; }
		}
	}
}


// FF specific
@-moz-document url-prefix() {
  @media only screen and (max-width: @smallerWidth) {

  }
}

// responsive images
.quote-with-portrait .media {
	background-size: cover;
	background-position: center center;
	// 3:2 ratio
	 &:before {
	 	content: '';
	 	display: block;
	 	padding-top: 66.66%
	 }
}

.quote-with-portrait.cheyanne .media 	{ .responsiveBGPortrait('cheyanne-MPB29400b'); }
.quote-with-portrait.baldwin .media 	{ .responsiveBGPortrait('Melanie-Baldwin_MG_7018'); }
.quote-with-portrait.bracken .media 	{ .responsiveBGPortrait('georgina-bracken_MG_6892'); }
.quote-with-portrait.ryan .media 		{ .responsiveBGPortrait('maurie-ryan-MPB29044a'); }

